# Ignore environment files
.env
.env.*

# Ignore Node.js dependencies
node_modules/

# Ignore logs
logs/
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore build artifacts (if any)
dist/
build/


# editor directories and files
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 